/* default variables */
$default_margin: 11px;
$default_padding: 6px;
$default_text_color: #565656;
$default_border: 1px solid $default_text_color;
$hand_url_sprite: url("../../img/rsp.png") no-repeat;