<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Rock Scissor Paper</title>
		<!-- Stylesheets -->
		<link rel="stylesheet" href="dist/css/bundle.css">
		<link rel="stylesheet" href="dist/css/style.css">
		<!-- Script -->
		<script src="dist/js/bundle.js"></script>
		<script src="js/app.module.js"></script>
		<script src="js/controllers/main.controller.js"></script>
	</head>
	<body class="container" ng-app="rsp">

		<header>
			<h1>Play Rock Scissor Paper</h1>
			<p>Developed by Roberto Minghi</p>
		</header>

		<section class="container-fluid" ng-controller="MainController as ctrl">

			<div class="container-fluid row points">
				<div class="col-md-4 col-md-offset-2 points mine">
					<h1>Player</h1>
					<p>Wins: {{ctrl.points.user}}</p>
				</div>
				<div class="col-md-4 points cpu">
					<h1>Computer</h1>
					<p>Wins: {{ctrl.points.cpu}}</p>
				</div>
			</div>

			<div class="container-fluid row game">

				<p ng-class="ctrl.alert" class="alertMsg">{{ctrl.alertTxt}}</p>

				<div class="col-md-4 col-md-offset-2 gameplay mine">
					<span class="waiting" ng-if="ctrl.choice.user == 'none'">?</span>
					<span class="hand {{ctrl.choice.user}} mine" ng-if="ctrl.choice.user != 'none'"></span>
				</div>
				<div class="col-md-4 points gameplay cpu">
					<span class="waiting" ng-if="ctrl.choice.cpu == 'none'">?</span>
					<span class="hand {{ctrl.choice.cpu}} cpu" ng-if="ctrl.choice.cpu != 'none'"></span>
				</div>


			</div>
			
			<div class="container-fluid choice">
				<span class="hand rock select" ng-click="ctrl.play('rock')"></span>
				<span class="hand scissor select" ng-click="ctrl.play('scissor')"></span>
				<span class="hand paper select" ng-click="ctrl.play('paper')"></span>
			</div>

			<div ng-class="ctrl.endGame" class="overlay">
				<div class="popup">
					<h1>{{ctrl.winner}}</h1>
					<p><b>User:</b> {{ctrl.points.user}}</p>
					<p class="float"><b>Computer:</b> {{ctrl.points.cpu}}</p>

					<span class="btn btn-primary btn-block" ng-click="ctrl.resetGame()">Reset Game</span>
				</div>
			</div>
		</section>
		
	</body>
</html>